body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(20, 40px);
  grid-template-columns: repeat(10, 40px);
  border: 2px solid #000000;
  width: 400px;
}

.cell {
  border: 1px solid #343434;
}

.occupied {
  background-color: #000000;
}

.lShape {
  background-color: #a6e1ff;
}

.JShape {
  background-color: #0f51b7;
}

.LShape {
  background-color: #ff7f00;
}

.OShape {
  background-color: #fffd33;
}

.SShape {
  background-color: "#62ff33";
}

.TShape {
  background-color: #e833ff;
}

.ZShape {
  background-color: #ff333e;
}
